<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    (function(){
        var IMP = window.IMP;
        var code = "imp64588762";
        IMP.init(code);

        IMP.request_pay({
            pg: 'html5_inicis',
            pay_method:'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '{{ deal.deal_title }}',
            amount: '{{ deal.price }}',
            buyer_email: '{{ user.profile.email }}',
            buyer_name: '{{ user.name }}',
            buyer_tel: '{{ user.profile.phone_number }}',
            m_redirect_url: 'http://127.0.0.1:8000/portfolio/paySuccess/{{deal.id}}'
            // m_redirect_url: 'https://pore-likelion.herokuapp.com/portfolio/paySuccess'
        }, 
        function (rsp) {
            if (rsp.success) {
                var url = 'http://127.0.0.1:8000/portfolio/paySuccess/{{deal.id}}';
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                location.href = url;
            } 
            else {
                var url = "http://127.0.0.1:8000/portfolio/payFail/";
                var msg = '결제에 실패하였습니다. 에러내용 : ' + rsp.error_msg
                location.href = url;
            }
        alert(msg);
        });
        })();
        </script>