{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/portfolio/css/paylist.css">
<br>
<h1>{{ user.nickname }}님의 구매 내역</h1>
<br>
<div class="list">
    <table>
        <thead>
            <tr>
                <th>결제일</th>
                <th>거래명</th>
                <th>판매자</th>
                <th>거래가</th>
              </tr>
        </thead>
        <tbody>
          {% for p in pay %}
            <tr>
                <td>{{ p.deal_date|date:'Y년 m월 d일 H:i' }}</td>
                <td><a href="{% url 'dealdetail' p.id %}">{{ p.deal_title }}</a></td>
                <td><a href="{% url 'userpage' p.u_id.id %}">{{ p.u_id.nickname }}</a></td>
                <td>{{ p.price }}</td>
              </a>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div><br><br><br>
{% endblock %}