{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<input type="text" class="form-control" name="search_key" value="{{ search_key }}">
                    <input class="btn btn-default" type="submit" value="Search">
                    <div class="row">
                        <div id="search_list" class="col-md-12">
                            {% for community in search_list %}
                            <a href="{% url 'cmdetail' c.id %}">
                                <h4>{{ c.post_title }}</h4>
                            </a>
                            {% endfor %}
                        </div>
                    </div>

{% endblock %}