{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/community/css/cmdetail.css">
</head>
<body>
    <br>
    <div class="textbox-top">
        <h2>{{community.post_title}}</h2>
        <h5>{{ community.user_id.nickname }}</h5>
        <p>{{ community.post_date }}</p>

        {% if community.user_id == user %}
        <button type="submit">
            <a href="{% url 'cmedit' community.id %}">수정</a></button>
        <button type="submit"> 
            <a href="{% url 'cmdelete' community.id %}">삭제</a></button>
        {% endif %}
        <!-- <button type="submit">
            <a href="{% url 'cmedit' community.id %}">수정</a>
        </button>
        <button type="submit">
            <a href="{% url 'cmdelete' community.id %}">삭제</a>
        </button> -->
    </div>
    <div class="textbox-bottom">
        <p>{{community.post_content | safe}}</p>
    </div>
    <hr>
    <br>
    <div class="comments">
        {% for cmcomment in community.cmcomment.all %}
        <p>작성자: {{ cmcomment.user_id.nickname }} / 작성일시: {{ cmcomment.cm_date }}</p>
        <p>{{cmcomment.cm_comment}}</p>
        <hr>
        {% endfor %}
        <form method="POST" action="{% url 'cmdetail' community.id %}">
            <div class="com">
                {% csrf_token %}
                <p>{{ form.as_p }}</p>
            </div>
            <div class="inp">
                <input type="submit" value="submit" class="submit-button">
            </div>
        </form>
    </div>
    <br>
    <!--좋아요 버튼-->
    <div>
        <input type="button" class="btn btn-info btn-sm like" name="{{ community.id }}" value="Like"
            style="margin-top: 7px">
        <p id="count-{{ community.id }}" style="font:bold 1em; margin-top: 3px">
            좋아요&nbsp;{{ community.likes_user.all.count }}개</p>
    </div>
    <!--좋아요 버튼 자바스크립트-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(".like").click(function () { 
            var pk = $(this).attr('name')
            $.ajax({
                type: "POST",
                url: "{% url 'community_like' %}",
                data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response) {
                    alert(response.message);
                    $("#count-" + pk).html("좋아요&nbsp;" + response.likes_count + "개"); 
                },
                error: function (request, status, error) { // 실패
                    alert("로그인 해주세요.")
                    window.location.replace("#") // 로그인 페이지로 넘어가기
                },
            });
        })
    </script>
{% endblock %}
</body>
</html>