@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}
.info {
    margin: 50px auto;
    height: 250px;
    max-width: 70%;
}
.gra {
    float: left;
    text-align: center;
    width: 30%;
}
.text {
    float: right;
    text-align: left;
    width: 70%;
}

.gra img {
    width:150px;
    height:150px;
    border-radius: 50%; 
    border: 2px solid white;
}
/* .all {
   margin-left: 20%;
   position: relative;
} */

.content img {
    max-width: 35vw;
    height: 250px;
}

.content iframe {
    width: 35vw;
    height: 300px;
} 

.content {
    max-width: 70%;
    text-align: center;
    margin: auto;
}
/* 
.content {
    display: inline-block;
    left: 200px;
    right: 0;
    word-break:break-all;
}

.text {
    height: 250px;
    float: right;
    text-align: left;
} */
@media screen and (max-width: 768px) 
{
    .gra {
        display: none;
    }
    .all {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px), screen and (max-width : 1350px) 
 {
    .content p img {
        max-width: 90%;
        margin-right: 20px;
        height: 300px;
    }
 }