body {
    text-align: center;
    font-size: 25px;
    text-align: center;
}


form{
    margin: 10vh auto;
}

.form-control {
    width: 500px;
    margin: auto;
}
footer {
    position: absolute;
}