h1 {
    border-bottom: 2px solid #D6002E;
    margin: 20px 100px;
    width: 350px;
}

body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #D6002E;
    border: none;
    color: white;
    padding : 5px;
    border-radius: 5px;
    float: right;
}

.table {
    border : 1px solid gray;
    margin: 0 auto;
    margin-top: 45px;
}

td {
    text-align: center ;
}

.ths {
    text-align: center;
}
u.categorys {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
}