h1 {
    border-bottom: 2px solid #D6002E;
    margin: 20px 100px;
    width: 350px;
}

body {
    background: #eee;
    color: #000;
    margin: 0;
    padding: 0;
    min-height: 650px;
}

.button {
    background-color: #D6002E;
    border: none;
    color: white;
    padding : 5px;
    border-radius: 5px;
    float: right;
}

.table {
    font-size: 14px;
    border : 1px solid gray;
    margin: 0 auto;
    margin-top: 45px;
    
}

td {
    text-align: center ;
}

.ths {
    text-align: center;
}
u.categorys {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
}
footer {
    position: absolute;
} 
@media screen and (max-width: 768px), screen and (max-width : 1400px) {
    .text-center {
        margin-bottom: 50px;
    }
    footer {
        position: fixed;
    } 
}

.search {
    margin-top: 10px;
    margin-left: 30px;
}
